# IDE Garbage Files
# Please feel free to add excludes for your IDE of choice

#Visual Studio Code
.vs/
.vscode/

#Secret Configuration
.env
# Any named env (e.g. .env.prod or .env.dev)
.env.*
!.env.example

# Composer Dependencies
vendor/

#Symfony stuff
.cache/

#Node stuff
node_modules/

#webpack output
blend-exchange.js

# Dynamic Storage
storage/
