/*Only structural layout css allowed in here. Fonts, colors, etc. should be go in separate theme stylesheets*/

html {
    height: 100%;
}
body {
    display:flex;
    flex-direction:column;
    position:relative;
    max-width:960px;
    margin:auto;
    padding:0px 15px;
    height:100%;
}
h1{
    font-size: 48px;
    font-weight: 400;
}
.wrapper {
    flex:1 0 auto;
}


/*Generic Styles*/
.bodyStack {
    margin-bottom: 10px;
}

.txtBlue{
    width:100%;
    height:35px;
    border:1px;
    outline:0;
    padding:0px 5px;
    font-size:12pt;
}
.btnBlue {
    display:inline-block;
    min-width:50px;
    padding:0px 20px;
    max-width:350px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    margin:0;
    
    /*make button label not highlightable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btnBlue > a {
  display:block; /*make a fill button, so user can click anywhere on the button (not just on the text)*/
}

/*#mainContainer{
    margin: auto;
    width: 100%;
}*/

/*Logo styles*/
#logo > img {
    display:inline-block;
    position:absolute;
    bottom:0;
    left:-55px;
    opacity:.2;
    z-index:-1;
}
#logo {
    position:absolute;
    left:0;
    bottom:0;
    font-size:44pt;
    display: inline-block;
    height: 80px;
    font-weight:300;
}
.logoCredit{
    font-size:10pt;
    font-style:italic;
    display: inline-block;
}
.logoStatus{
    position: absolute;
    top:5px;
    right: 0;
    font-size:12pt;
}
/*navStyles*/
.headspace {height:7%; min-height:10px;}
#nav {
    position:relative;
    height:160px;
    margin-bottom: 20px;
}
#navLinks{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    position:absolute;
    right:0;
    bottom:0;
    height: 100%;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    min-height:100%;
}
#navLinks li{
    font-weight: 300;
    flex:1;
    flex-grow:0;
    list-style: none;
    font-size: 18pt;
    text-align:right;
    border-right:2px;
}
#navLinks li:hover{
    border-right-width:5px;
}
#navLinks li a {
    display:block;
    height:100%;
    padding:5px 10px;
}


/*Upload styles*/
#uploadTarget {
    cursor: pointer;
    height: 300px;
    position: relative;
    
}
#uploadTarget .centerText {
    margin: auto;
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    height:50px;
    text-align: center;
}
#uploadText{
    position:relative;
    width:100%;
    height:100%;
}

#uploadOptions > div {
    height:35px;
}
#password {
    width:64%;
    margin:0;
    vertical-align:bottom;
    margin-right: 1%;
}
#upload {
    width:35%;
    padding:0;
    float:right;
}

.progressContainer {
    height: 10px;
}
.progress {
    height: 10px;
}
#uploadArea {
    margin: 20px;
}
/*Blend file display*/
.blendDisplayIcon {
    height: 150px;
    margin-top: 25px;
    margin-left: 10px;
    vertical-align: top;
}
.blendDisplayTitle {
    margin: 0;
}


/*misc*/
#embedCode {
    width: 100%;
    height: 64px;
    resize: none;
}
#footer {
    position:relative;
    font-size:10pt;
    margin-top:20px;
    width: 100%;
    text-align: center;
    padding:10px 0px;
}



@media only screen and (max-width: 545px) {
   #nav {
      position:fixed;
      left:0;
      top:0;
      width:100%;
      height:40px;
      z-index: 2;
   }
   
   #navLinks{
      display:table;
      position:absolute;
      width:100%;
       bottom:0px;
      
      min-height:10px;
      
   }
   #navLinks li{
      display:table-cell;
      border:0;
      height:100%;
      padding:0;
      padding-top:5px;
      font-size: 13pt;
      text-align:center;
   }
    #navLinks li a {
        padding:0;
        min-height:100%;
    }
   #navLinks li:hover{
      border:0;
   }
   /*Logo styles*/
   #logo > img {
      display:inline-block;
      position:fixed;
      padding:5px;
      height:25;
      opacity:.5;
      left:0;
      top:0;
   }
   #logo {
      visibility: hidden;
      position:absolute;
      left:25px;
      top:0;
      padding:5px;
      font-size:10pt;
      display: inline-block;
      height: 80px;
      width:100%;
   }
   .logoCredit{
      font-size:7pt;
      font-style:italic;
      display: inline-block;
   }
   .logoStatus{
      position: absolute;
      top:0px;
      left:-moz-calc(100% - 75px);
      padding:5px;
      font-size:7pt;
   }
   #mainContainer {
      margin-top:80px;
   }
   #uploadTarget {
      height:200px;
   }
   
}
