/*Only structural layout css allowed in here. Fonts, colors, etc. should be go in separate theme stylesheets*/

body {
    max-width: 960px;
    margin: auto;
}

/*Generic Styles*/
.txtBlue{
    width: 100%;
    height: 35px;
}
.btnBlue {
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

#mainContainer{
    margin: auto;
    width: 600px;
}

.bodyStack {
    margin-bottom: 10px;
}

/*Logo styles*/
#logo {
    display: inline-block;
    height: 72px;
    position: relative;
}
.logoCredit{
    display: inline-block;
}
.logoStatus{
    position: absolute;
    top: 5px;
    right: -25px;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
/*navStyles*/
#nav {
    margin-bottom: 20px;
}
#navLinks{
    height: 72px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    float: right;
}
#navLinks li{
    list-style: none;
    font-size: 24px;
    margin-left: 20px;
}

/*Upload styles*/
#uploadTarget {
    cursor: pointer;
    width: 600px;
    height: 200px;
    position: relative;
    display: block;
}
#uploadTarget .centerText {
    margin: auto;
    width: 300px;
    text-align: center;
}
#uploadText{
    padding-top: 68px;
    padding-bottom: 68px;
}

.progressContainer {
    height: 10px;
}
.progress {
    height: 10px;
}
#uploadArea {
    margin: 20px;
}
/*Blend file display*/
.blendDisplayIcon {
    height: 150px;
    margin-top: 25px;
    margin-left: 10px;
    vertical-align: top;
}
.blendDisplayTitle {
    margin: 0;
}


/*misc*/
#embedCode {
    width: 100%;
    height: 64px;
    resize: none;
}
#footer {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.noticeWarning {
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
}
.nwDanger {
    background-color: #FF7A7A;
    border-color: #ff2a2a;
    color: #ffffff;
}
.nwNotice {
    background-color: #FFCE7A;
    border-color: #FFA200;
    color: #000;
}