{% extends "Layouts/static.twig" %}
{% block content %}
<h1>Contribute:</h1>
Blend-Exchange is a free volunteer run service, made by contributions from people like you. All the development and administration is done by blender.stackexchange users.
<h2>Contribute Code:</h2>
If you see anything you think should be improved on this site, and know how to code javascript & PHP, you can <a href="https://github.com/GiantCowFilms/Blend-Exchange">fork our repository on github</a> and submit changes.
<h2>How else can I help?</h2>
Flagging abusive and/or harmful .blends is critical to running this service, if you see anything suspect, please help by flagging it.
{% endblock %}