{% extends "Layouts/static.twig" %}
{% block content %}
<h1>Userscript</h1>
<p>
   We've written a userscript so you can upload files quickly, without ever leaving stackexchange.
   It should work on Firefox (via <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey</a>) and Chrome (either as an extension or via <a href="https://tampermonkey.net/">Tampermonkey</a>).
</p>

<div class="btnBlue"><a href="https://github.com/gandalf3/BlendExchanger/raw/master/blendexchanger.user.js">Download Now</a></div>

<h2>See it in action:</h2>
<img src="http://i.stack.imgur.com/26jbY.gif" alt="userscript in use">

<p>
   Request features or report problems on <a href="http://meta.blender.stackexchange.com/a/634/3127">stackexchange</a>.
</p>
{% endblock %}