<!DOCTYPE html>
<html>
    {% include 'Components/head.twig' %}
<body>
    <div class="wrapper"> <!-- needed for sticky footer. -->
        <div  id="dynamicContainer">
            </div>
            <div id="staticContainer">
                    {% block content %}
                    {% endblock %}  
            </div>
    </div>
    <div id="footer">
        Site (c) Blend-Exchange, all rights reserved. Blends are (c) copyright original owners. This is a community run site and is not officiated or recognized by stackexchange. Managed by <a href="http://blender.stackexchange.com/users/3127/giantcowfilms">GiantCowFilms</a>.<br /> By using this site you agree to the Blend-Exchange <a href="/terms">Terms of Service</a>. To learn more about how the data you provide Blend-Exchange is handled, see the <a href="/privacy">Privacy Policy</a>. 
    </div>
    <script src="/js/blend-exchange.js"></script>
</body>