<head>
        <meta charset='utf-8'>
        <title>Blend-Exchange</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0;">
        <link rel="stylesheet" media="screen" href="/layout.css" />
        <link rel="stylesheet" media="screen" href="/lighttheme.css" />
        
        <link rel="shortcut icon" href="/favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

        <meta name="description" content="Blend-Exchange is a website dedicated to hosting blends, free of charge, for Blender StackExchange users. Blend upload and download is completely free, no ads, no login or registration required. Share your blends with ease!">
</head>